<a href="https://colab.research.google.com/github/sushily1997/MU_Sigma_Programs/blob/main/MU_sigma_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
six = [n for n in range(0,1000) if '6' in str(n)]
print(six)

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

In [ ]:
d = {'A':1,'B':2,'C':3}
key = input('Enter any key : ')
if key in d.keys():
  print('Key is present and value of the key is')
  print(d[key])
else:
  print('Key is not present')

Enter any key : B
Key is present and value of the key is
2

In [ ]:
def fibonacci(n):
  if n < 0:
    print('Incorrect input')
  elif n == 0: 
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(9))

34

In [1]:
num = 11
if num > 1:
  for i in range(2, int(num/2) + 1 ):
    if num % i == 0:
      print(num, 'Number is not prime')
      break
  else:
    print(num, 'Number is prime')
else:
  print(num,'Number is not prime')

11 Number is prime

In [ ]:
# Python3 program to create Special triangle.

def triSum(A):
		if (len(A) < 1):
			return
		temp = [0] * (len(A) - 1)
		for i in range( 0, len(A) - 1):
			x = A[i] + A[i + 1]
			temp[i] = x
		triSum(temp)
		print(A)
# Driver function
A = [ 1, 2, 3, 4, 5 ]
triSum(A)

[48]
[20, 28]
[8, 12, 16]
[3, 5, 7, 9]
[1, 2, 3, 4, 5]

In [2]:
# Fizz Buzz 
for i in range(1,101):
  if i % 15 == 0:
    print("FizzzBuzz")
    continue
  elif i % 3 == 0:
    print("Fizz")
    continue 
  elif i % 5 == 0:
    print("Buzz")
    continue 
  print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# Fibbibaci serire 
def fibonacci(n):
  if n < 0:
    print("Incorrect input")
  elif n == 0:
    return 0 
  elif n ==1 or n ==2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(9))

34

In [ ]:
# Fibbinacci with reduced time complelixicity 
def printFibo(n):
    a = 0
    b = 1
    for i in range(n):
        # print(a)
        sum = a + b
        a = b
        b = sum

    return a
print(printFibo(9))

34

In [ ]:
# Prime no
num = 11
if num > 1:
  for i in range(2, int(num/2)+1):
    if num % i == 0:
      print("Number is not prime number", num)
      break
  else:
      print("Number is prime number", num)
else:
  print("Number is not prime number", num)

Number is prime number 11

In [ ]:
# prime number range 
def prime(x,y):
  prime_lst = []
  for i in range(x,y):
    if i == 0 or i == 1:
      continue
    else:
      for j in range(2, int(i/2)+1):
        if i % j ==0:
          break
      else:
        prime_lst.append(i)
  return prime_lst

starting_range = 2
ending_range = 7
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5]

In [ ]:
# Prime with reduced time complexicity
def isPrimeNumber(num):
    i = 2
    while i * i <= num:
        if(num % i == 0):
            return False
        i += 1

    return True

print(isPrimeNumber(0))
def printAllPrimeNumbers():
    x = int(input())
    y = int(input())

    for num in range(x, y + 1):
        if(isPrimeNumber(num)):
            print(num)
#printAllPrimeNumbers()

True

In [ ]:
# reverse a string
txt = "Hello World"[::-1]
print(txt)

dlroW olleH

In [ ]:
# Reverse a number
n = 4562
rev = 0 
while (n > 0):
  a  = n % 10
  rev = rev * 10+a
  n = n // 10
print(rev)

2654

In [ ]:
# Factorial 
def factorial(n):
  return 1 if (n==1 or n ==0) else n* factorial(n-1)

print(factorial(5))

120

In [ ]:
# Factorial 
def factorial_1(n):
  if n < 0:
    return 0
  elif n == 0 or n == 1:
    return 1
  else:
    fact = 1
    while (n > 1):
      fact *= n
      n -= 1
  return fact

print(factorial_1(6))

720

In [ ]:
# Tringular sum
def tringularsum(a):
  if (len(a) < 1):
    return
  temp = [0] * (len(a) - 1)
  for i in range(0,len(a)-1):
    x = a[i] + a[i+1]
    temp[i] = x
  tringularsum(temp)
  print(a)

a = [1,2,3,4,5]
print(tringularsum(a))

[48]
[20, 28]
[8, 12, 16]
[3, 5, 7, 9]
[1, 2, 3, 4, 5]
None

In [ ]:
# Largest string
a = "abc xyz pqr"
b = "def"
count1 = 0
count2 = 0
for i in a:
  count1 = count1 + 1
for i in b:
  count2 = count2 + 1
if (count1 < count2):
  print("Larger string is")
  print(b)
elif (count1 == count2):
  print("Both strings are same")
else:
  print("Larger string is")
  print(a)

Larger string is
abc xyz pqr

In [ ]:
# Fizz Buzz
for i in range(1,100):
  if i % 15 == 0:
    print("FizzzBuzz")
    continue
  elif i % 3 == 0:
    print("Fizz")
    continue 
  elif i % 5 == 0:
    print("Buzz")
    continue 
  print(i)

In [ ]:
# 2nd largest in list
a = [1,13,55,7,9,11,23]
a.sort()
print(a)
print(a[-2])

[1, 7, 9, 11, 13, 23, 55]
23

In [ ]:
# Amstrong Number.
def power(x,y):
  if y == 0:
    return 1
  if y % 2 == 0:
    return power(x, y // 2) * power(x,y // 2)
  return x*power(x,y // 2) * power(x,y // 2)
def order(x):
  n = 0
  while(x != 0):
    n = n+1
    x = x // 10
  return n
def isamstrong(x):
  n = order(x)
  temp = x
  sum1 = 0
  while(temp != 0):
    r = temp % 10
    sum1 = sum1 + power(r,n)
    temp = temp // 10
  return (sum1 == x)

x = 153 
print(isamstrong(x))
x = 225
print(isamstrong(x))
# reference: https://www.geeksforgeeks.org/python-program-to-check-armstrong-number/

True
False

In [ ]:
# Amstrong Number.
n = 153
s = n
b = len(str(n))
sum1 = 0
while n != 0:
  r = n % 10
  sum1 = sum1 + (r**b)
  n = n // 10
if s == sum1:
  print("The given number" ,s, "is amstrong number")
else:
  print("The given number" ,s, "is not amstrong number")

The given number 153 is amstrong number

In [ ]:
# Pallindrome number
n = input("Enter a number")
if n == n[::-1]:
  print("Number is pallindrome")
else:
  print("Number is not pallindrome")

Enter a number123321
Number is pallindrome

In [ ]:
# Number swapping
x = 5
y = 7
print("Before seapping", x , y)
x,y = y,x
print("After seapping", x , y)

Before seapping 5 7
After seapping 7 5

In [ ]:
# Lcm of two numbers 
def gcd(a,b):
  if a == 0:
    return b
  return gcd(b % a, a)

def lcm(a,b):
  return (a / gcd(a,b)) *b

a = 15
b = 20
print("Lcm of", a, b, "is", lcm(a,b))

Lcm of 15 20 is 60.0

### CloudPhysician (Round 2)

In [ ]:
words = [
    'pto',
    'ret',
    'sup',
    'und',
    'xen',
    'asy',  # <-- rotates here!
    'bab',
    'ban',
    'eng',
    'kar',
    'oth',
]

# Write a function for finding the index of the "rotation point,"
# which is where I started working from the beginning of the
# dictionary. This list is huge (there are lots of words I don't know) so
# we want to be efficient here.

######################################################################

# Now my turn


def find_rotation_point(words):
    """return the index of the rotation point of a sorted word list"""

    # basically a modified binary search
    index = 0
    n = len(words)
    if n > 1:
        left = 0
        right = n - 1

        while (right - left) > 1:
            if words[left] > words[right]:
                # the pivot is somewhere within this interval
                # but where?
                # split the interval in half
                # check each half for the pivot
                # use the half that contains the pivot
                nexttry = int((left + right) / 2.0 + 0.5)
                if words[nexttry] > words[right]:
                    left = nexttry
                else:
                    right = nexttry
            else:
                # Boy: Do not try and find the pivot. That's
                #      impossible. Instead only try to realize the truth.
                # Neo: What truth?
                # Boy: There is no pivot.
                return left

        if words[left] <= words[right]:
            index = left
        else:
            index = right

    return index

find_rotation_point(words)

5

In [ ]:
# Rotation of array
def countrotations(arr,n):
  min = arr[0]
  min_index = 0
  for i in range(0,n):
    if (min > arr[i]):
      min = arr[i]
      min_index = i
  return min_index;

arr = [15, 18, 2, 3, 6, 12]
n = len(arr)
print(countrotations(arr, n))

2

In [ ]:
# Rotation of array 
def countRotations(arr, n):
    start = 0
    end = n-1
    while start<=end:
        mid = start+(end-start)//2
        prev = (mid-1+n)%n
        nex = (mid+1)%n
        if arr[mid]<arr[prev]\
           and arr[mid]<=arr[nex]:
          return mid
        elif arr[mid]<arr[start]: end = mid-1
        elif arr[mid]>arr[end]: start = mid+1
        else: return 0
 
# Driver code
# if __name__ == '__main__':
arr = [15, 18, 2, 3, 6, 12]
N = len(arr)
print(countRotations(arr, N))

2

In [ ]:
#  Python 3 program for 
#  Spiral form of matrix
class SpiralView :
	def spiral(self, data, startRow, 
               startCol, endRow, endCol, element) :
		i = startCol
		#  Left to right
		while (i <= endCol and element > 0) :
			element -= 1
			print("", data[startRow][i], end = " ")
			i += 1
		
		i = startRow + 1
		#  Top to down
		while (i <= endRow and element > 0) :
			element -= 1
			print("", data[i][endCol], end = " ")
			i += 1
		
		i = endCol - 1
		#  Bottom right to bottom-left
		while (i >= startCol and element > 0) :
			element -= 1
			print("", data[endRow][i], end = " ")
			i -= 1
		
		i = endRow - 1
		#  Bottom left to top
		while (i > startRow and element > 0) :
			element -= 1
			print("", data[i][startRow], end = " ")
			i -= 1
		
		if (startRow + 1 <= endRow - 1 and element > 0) :
			#  Recursive call
			self.spiral(data, startRow + 1, startCol + 1, 
                        endRow - 1, endCol - 1, element)
		
	

def main() :
	task = SpiralView()
	#  Given matrix
	matrix = [
		[1, 2, 3, 4, 5, 6],
		[22, 23, 24, 25, 26, 7],
		[21, 36, 37, 38, 27, 8],
		[20, 35, 42, 39, 28, 9],
		[19, 34, 41, 40, 29, 10],
		[18, 33, 32, 31, 30, 11],
		[17, 16, 15, 14, 13, 12]
	]
	row = len(matrix)
	col = len(matrix[0])
	#  Get the number of element
	element = row * col
	task.spiral(matrix, 0, 0, row - 1, col - 1, element)

if __name__ == "__main__": main()

 1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42

In [ ]:
#****************************
#  alphabetacoder.com
#Python program for a spiral 
#pattern using numbers
#****************************

# take input 
s = int(input("Enter the size of the pattern: "))

# declare 2D array
pattern = [[0 for i in range(s)] for j in range(s)]

# initialize
num = 1 # starting number
i = 0 # 2d array row index
j = 0 # 2d array column index
m = 0 # to store row index lower limit
n = s - 1 # to store row index upper limit
p = 0 # to store column index lower limit
q = s - 1 # to store column index upper limit


# fill the array to create patern.
# stop when n > s * s
while num <= s * s:
    # fill horizontally left to right
    for j in range(p, q + 1):
        pattern[m][j] = num
        num = num + 1

    # update row index lower limit
    m = m + 1

    # fill vertically top to bottom
    for i in range(m, n + 1):
        pattern[i][q] = num
        num = num + 1

    # update column index upper limit
    q = q - 1

    # fill horizontally right to left
    for j in range(q, p - 1, -1):
        pattern[n][j] = num
        num = num + 1

    # update row index upper limit
    n = n - 1

    # fill vertically bottom to top
    for i in range(n, m - 1, -1):
        pattern[i][p] = num
        num = num + 1

    # update column index lower limit
    p = p + 1

# new line
print("");

# display the pattern
for i in range(0, s):
    for j in range(0, s):
        # print value
        print(pattern[i][j], end = "\t")
        
    # new line
    print("")

Enter the size of the pattern: 5

1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	23	22	21	8
13	12	11	10	9

In [ ]:
# Python 3 program to print
# matrix in snake order
M = 4
N = 4

def printf(mat):
	global M, N
	
	# Traverse through all rows
	for i in range(M):
		
		# If current row is
		# even, print from
		# left to right
		if i % 2 == 0:
			for j in range(N):
				print(str(mat[i][j]),
						end = " ")

		# If current row is
		# odd, print from
		# right to left
		else:
			for j in range(N - 1, -1, -1):
				print(str(mat[i][j]),
						end = " ")

# Driver code
mat = [[ 10, 20, 30, 40 ],
	[ 15, 25, 35, 45 ],
	[ 27, 29, 37, 48 ],
	[ 32, 33, 39, 50 ]]

printf(mat)

# This code is contributed
# by ChitraNayal

10 20 30 40 45 35 25 15 27 29 37 48 50 39 33 32

### CloudThat (Round 1)

In [ ]:
def isVowel(c):
  vow = "AaEeIiOoUu"
  if c not in vow:
    return True 
  return False
# Function to reverse order of vowels
def reverserStr(string):
	j = 0
	vowel = [0] * len(string)
	string = list(string)
	# Storing the vowels separately
	for i in range(len(string)):
		if isVowel(string[i]):
			vowel[j] = string[i]
			j += 1
	# Placing the vowels in the reverse
	# order in the string
	for i in range(len(string)):
		if isVowel(string[i]):
			j -= 1
			string[i] = vowel[j]
	return ''.join(string)
string = "hello world"
print(reverserStr(string))

delrow ollh

In [ ]:
# Remove vowels and reverse string
s = "Balaji"
vow = "AaEeIiOoUu"
s1 = ""
for i in s:
  if i not in vow:
    s1 = i+s1
print(s1)

jlB

In [ ]:
def uniquelist(ls):
  l = []
  [l.append(i) for i in ls if i not in l]
  return l

lst = [1,2,4,5,3,5,6,2,5,7,8,9]
uniquelist(lst)

[1, 2, 4, 5, 3, 6, 7, 8, 9]

### Dictionary use case

In [ ]:
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
 
print('List Of given states:\n')
 
# Iterating over keys
for state in statesAndCapitals:
    print(state)

List Of given states:

Gujarat
Maharashtra
Rajasthan
Bihar

In [ ]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
   
# Define a dictionary containing employee data 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])
 
print(df, "\n\n", df1) 
# using a .concat() method
frames = [df, df1]
 
res1 = pd.concat(frames)
res1

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

### Coach secession (Ekata)

### Given a list of 0's and 1's , find the maximum number of times 1 occurs consecutively. For example if the input is [1, 0, 1, 1, 1, 0, 0, 0, 0, 1] then the output would be 3.

In [ ]:
# Geeks org
def getMaxLength(arr, n):
	count = 0
	result = 0
	for i in range(0, n):
		if (arr[i] == 0):
			count = 0
		else:
			count+= 1
			result = max(result, count)
	return result

arr = [1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1]
n = len(arr)
print(getMaxLength(arr, n))

4

In [ ]:
# Final edited Bj
def maxoccur(ls):
	total = 0
	result = 0
	l = len(ls)
	for i in range(0, l):
		if (ls[i] == 0):
			total = 0
		else:
			total+= 1
			result = max(result, total)
	return result

ls = [1, 0, 1, 1, 1, 0, 0, 0, 0, 1]
print(maxoccur(ls))

3

## **Momspresso**

### Q. Get the occurance of the first '1' in the sorted array of '0' and '1'

In [ ]:
# Get the occurance of the first '1' in the sorted array of '0' and '1'.
# Create array without using 'numpy', reduce it's time complexicity. 
# Bj code
import numpy as np
# array 0 and 1 s array is sorted 
a = np.array([0,0,0,0,1,1,1,1])
print(a)
b = list(a)
for i in range(len(b)):
  #i = 0
  if b[i] == 1:
    print(i)
    break
  #i = i + 1

In [ ]:
# Python3 implementation to find
# the index of first '1' in a
# sorted array of 0's and 1's

# function to find the index of first '1'
def indexOfFirstOne(arr, n):

	# traverse the array from left to right
	for i in range(0, n):
		
		# if true, then return i
		if (arr[i] == 1):
			return i

	# 1's are not present in the array
	return -1

# Driver program to test above
arr = [ 0, 0, 0, 0, 0, 0, 1, 1, 1, 1 ]
n = len(arr)
ans = indexOfFirstOne(arr, n)
print(ans)

6

### Q. SQL question 
#### Table 1 User:  user id,  user name,  user age. 
#### Table 2 Post : user id,  post id,  date of posting,  score of post 

### for any given month jan top 5 users who have mnax score  

### Code: 
#### From user
#### left join post
#### on user.userid = post.userid as a
#### select user name, score of post, date
#### from a
#### where month = jan
#### group by user name 
#### order by score of post, desc limit 5

### Q. How to create class in python.

In [ ]:
# Python3 program to
# demonstrate instantiating
# a class


class Dog:

	# A simple class
	# attribute
	attr1 = "mammal"
	attr2 = "dog"

	# A sample method
	def fun(self):
		print("I'm a", self.attr1)
		print("I'm a", self.attr2)


# Driver code
# Object instantiation
Rodger = Dog()

# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

### How to create array without using numpy in python.

In [ ]:
def createMatrix(rowCount, colCount, dataList):
    mat = []
    for i in range(rowCount):
        rowList = []
        for j in range(colCount):
            # you need to increment through dataList here, like this:
            rowList.append(dataList[rowCount * i + j])
        mat.append(rowList)

    return mat

def main():
    alpha = ['a','b','c','d','e','f','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    mat = createMatrix(5,5,alpha)
    print (mat)

main()

[['a', 'b', 'c', 'd', 'e'], ['f', 'h', 'i', 'j', 'k'], ['l', 'm', 'n', 'o', 'p'], ['q', 'r', 's', 't', 'u'], ['v', 'w', 'x', 'y', 'z']]

In [ ]:
li= ['a','b','c','d','e','f','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
[li[i:i+5] for i in range(0,len(li),5)]

[['a', 'b', 'c', 'd', 'e'],
 ['f', 'h', 'i', 'j', 'k'],
 ['l', 'm', 'n', 'o', 'p'],
 ['q', 'r', 's', 't', 'u'],
 ['v', 'w', 'x', 'y', 'z']]

### Q. Merge Overlapping Intervals

In [ ]:
def mergeIntervals(intervals):
	# Sort the array on the basis of start values of intervals.
	intervals.sort()
	stack = []
	# insert first interval into stack
	stack.append(intervals[0])
	for i in intervals[1:]:
		# Check for overlapping interval,
		# if interval overlap
		if stack[-1][0] <= i[0] <= stack[-1][-1]:
			stack[-1][-1] = max(stack[-1][-1], i[-1])
		else:
			stack.append(i)

	print("The Merged Intervals are :", end=" ")
	for i in range(len(stack)):
		print(stack[i], end=" ")


arr = [[6, 8], [1, 9], [2, 4], [4, 7]]
mergeIntervals(arr)
# Time complexity: O(n*log(n)), which is for sorting. Once the array of intervals is sorted, merging takes linear time.
# Auxiliary Space: O(n)

The Merged Intervals are : [1, 9]

In [ ]:
def mergeIntervals(arr):

	# Sorting based on the increasing order
	# of the start intervals
	arr.sort(key=lambda x: x[0])

	# Stores index of last element
	# in output array (modified arr[])
	index = 0

	# Traverse all input Intervals starting from
	# second interval
	for i in range(1, len(arr)):

		# If this is not first Interval and overlaps
		# with the previous one, Merge previous and
		# current Intervals
		if (arr[index][1] >= arr[i][0]):
			arr[index][1] = max(arr[index][1], arr[i][1])
		else:
			index = index + 1
			arr[index] = arr[i]

	print("The Merged Intervals are :", end=" ")
	for i in range(index+1):
		print(arr[i], end=" ")


# Driver code
arr = [[6, 8], [1, 9], [2, 4], [4, 7]]
mergeIntervals(arr)
# Time Complexity: O(n*log(n))
# Auxiliary Space Complexity: O(1)

The Merged Intervals are : [1, 9]

### Merging two sorted array

In [ ]:
# Python program to merge
# two sorted arrays

# Merge arr1[0..n1-1] and
# arr2[0..n2-1] into
# arr3[0..n1+n2-1]
def mergeArrays(arr1, arr2, n1, n2):
	arr3 = [None] * (n1 + n2)
	i = 0
	j = 0
	k = 0

	# Traverse both array
	while i < n1 and j < n2:
	
		# Check if current element
		# of first array is smaller
		# than current element of
		# second array. If yes,
		# store first array element
		# and increment first array
		# index. Otherwise do same
		# with second array
		if arr1[i] < arr2[j]:
			arr3[k] = arr1[i]
			k = k + 1
			i = i + 1
		else:
			arr3[k] = arr2[j]
			k = k + 1
			j = j + 1
	

	# Store remaining elements
	# of first array
	while i < n1:
		arr3[k] = arr1[i];
		k = k + 1
		i = i + 1

	# Store remaining elements
	# of second array
	while j < n2:
		arr3[k] = arr2[j];
		k = k + 1
		j = j + 1
	print("Array after merging")
	for i in range(n1 + n2):
		print(str(arr3[i]), end = " ")

# Driver code
arr1 = [1, 3, 5, 7]
n1 = len(arr1)

arr2 = [2, 4, 6, 8]
n2 = len(arr2)
mergeArrays(arr1, arr2, n1, n2);

# This code is contributed
# by ChitraNayal
# Time Complexity : O(n1 + n2) 
# Auxiliary Space : O(n1 + n2)

Array after merging
1 2 3 4 5 6 7 8

In [ ]:
# Python program to merge two sorted arrays
# using maps
import bisect

# Function to merge arrays
def mergeArrays(a, b, n, m):
	# Declaring a map.
	# using map as a inbuilt tool
	# to store elements in sorted order.
	mp=[]
	
	# Inserting values to a map.
	for i in range(n):
		bisect.insort(mp, a[i])
		
	for i in range(m):
		bisect.insort(mp, b[i])
	
	# Printing keys of the map.
	for i in mp:
		print(i,end=' ')
		
# Driver code
arr1 = [1, 3, 5, 7]
arr2 = [2, 4, 6, 8]
size = len(arr1)
size1 = len(arr2)

# Function call
mergeArrays(arr1, arr2, size, size1)

# This code is contributed by Pushpesh Raj
# Time Complexity: O( nlog(n) + mlog(m) ) 
# Auxiliary Space: O(N)

1 2 3 4 5 6 7 8

### **Python developer interview**

### Q. How to use Binet's formula in python?

In [ ]:
import numpy as np

# We are creating an array contains n = 10 elements
# for getting first 10 Fibonacci numbers
a = np.arange(1, 11)
lengthA = len(a)

# splitting of terms for easiness
sqrtFive = np.sqrt(5)
alpha = (1 + sqrtFive) / 2
beta = (1 - sqrtFive) / 2

# Implementation of formula
# np.rint is used for rounding off to integer
Fn = np.rint(((alpha ** a) - (beta ** a)) / (sqrtFive))
print("The first {} numbers of Fibonacci series are {} . ".format(lengthA, Fn))

The first 10 numbers of Fibonacci series are [ 1.  1.  2.  3.  5.  8. 13. 21. 34. 55.] .

### **Convergetics Python Assignment**

### **Upgrad Questions**

In [ ]:
def a (*args):
  return(sum(args))
print(a(1,2,3,4))
print(a(5,6))

10
11

In [ ]:
t = (1,2,3)
print(t*2)

(1, 2, 3, 1, 2, 3)

In [ ]:
def s(w):
  return list(w)

w = 'upGrad'
print(s(w))

['u', 'p', 'G', 'r', 'a', 'd']

In [ ]:
[ch for ch in 'upGrad']

['u', 'p', 'G', 'r', 'a', 'd']

In [ ]:
import pandas as pd
s1 = pd.Series([0,2,4,6,8,10,12])
s2 = pd.Series([0,3,6,9,12,15])
s1[s1.isin(s2)].index == s2[s2.isin(s1)].index

array([ True, False, False])

In [ ]:
# initializing list
# initializing list
test_list = ["all", "love", "and", "get", "educated", "by", "gfg"]

# printing original list
print("The original list is : " + str(test_list))

res = []
vow = "aeiou"
for sub in test_list:
	flag = False
	
	# checking for begin char
	for ele in vow:
		if sub.startswith(ele):
			flag = True
			break
	if flag:
		res.append(sub)

# printing result
print("The extracted words : " + str(res))

# printing original list
print("The original list is : " + str(test_list))

res = []
vow = "aeiou"
for sub in test_list:
	flag = False
	
	# checking for begin char
	for ele in vow:
		if sub.startswith(ele):
			flag = True
			break
	if flag:
		res.append(sub)

# printing result
print("The extracted words : " + str(res))

The original list is : ['all', 'love', 'and', 'get', 'educated', 'by', 'gfg']
The extracted words : ['all', 'and', 'educated']
The original list is : ['all', 'love', 'and', 'get', 'educated', 'by', 'gfg']
The extracted words : ['all', 'and', 'educated']

## **PRime Number**

In [ ]:
# range of prime number
def prime_n(n):

  prime=[]
  
  for i in range(2,n):
    if all(i % j !=0 for j in range(2,i)):
      prime.append(i)
  
  return prime

n=50

print(prime_n(n))

In [ ]:
# range of prime number
def prime_n(n,m):

  prime=[]
  
  for i in range(n,m):
    if all(i % j !=0 for j in range(2,i)):
      prime.append(i)
  
  return prime

lower=int(input('Enter lower range: '))
upper=int(input('Enter upper range: '))

print(prime_n(lower,upper))

In [ ]:
# Single number prime_chcek

def isPrime(n):

  if n%2==0:
    print("Not Prime")
  else:
    print("Prime")

n = int(input(f"Enter a number: "))
isPrime(n)